@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,900|Pacifico&display=swap');

:root{
    --orange:#f6755e;
    --blue:#25a2c3;
    --gray: #767d85;
    --white:#fff;
}

/***************************************             BASIC STYLES 
***************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    color: var(--gray);
    font-family: 'Montserrat', 'sans-serif';
}

.container{
    width: 70%;
    margin: auto;
}

.clearfix{
    clear: both;
}

/***************************************             HEADER
***************************************/

header{
    background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    background-size: cover;
    height: 600px;
    text-align: center;
    padding: 100px 300px;
}

header .logo{
    color:var(--blue);
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
}

header p{
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.8;
}

header button{
    background: var(--orange);
    color:var(--white);
    font-size:1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px; 
    padding: 15px 40px;
    border-radius: 6px;
    margin-top: 40px;
    border: none;
}

header button:hover{
    background: var(--blue);
    transition: .4s ease ;
    cursor:pointer;
}

/***************************************               ONE
***************************************/

.one{
    padding: 80px 0;
}

.one article{
    width: 33%;
    float: left;
    padding: 30px;
}

.one img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.one h2{
    color:var(--blue);
    padding-bottom: 20px;  
}

.one p{
    line-height: 1.5;
}

.one article:nth-child(1){
    text-align: right;
    padding-top: 40px;
}

.one article:nth-child(2){
    padding-top: 70px;
}

/***************************************               TWO
***************************************/

.two{
    background: var(--orange);
    color:var(--white);
    text-align: center;
    padding: 100px;
}

.two h2{
    font-size: 2rem;
    letter-spacing: 2px;
    padding-bottom: 40px;
}

.two blockquote {
    opacity: .6; 
    font-style: italic;
    line-height: 1.5;
}

.two h5{
    font-size: 1.1rem;
    padding-bottom: 10px; 
}

.two p{
    opacity: .6;
}


/***************************************               THREE
***************************************/

.three{
    padding: 100px 0;
}

.three article{
    float:left;
    width: 33%;   
}

.three .wrapper{
    margin:20px;
    border: 1px solid var(--gray);
    border-radius: 5px;   
}

.three .text{
    padding: 20px;
    line-height: 1.7;
    text-align: justify;   
}

.three h3{
    color:var(--blue);
}

.three .img1{
    background-image: url(img/druga.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

.three .img2{
    background-image: url(img/treca.jpg);
    height: 200px;
    background-size:cover;
    background-position:center;  
}

.three .img3 {
    background-image:url(img/cetvrta.jpg);
    height: 200px;
    background-size:cover;
    background-position:center;    
}

/***************************************               FOOTER
***************************************/

footer{
    background: var(--blue);
    color:var(--white);
    text-align: center;
    padding: 100px 0;
}

footer h2{
    font-size: 1.9rem;
    letter-spacing: 2px;
}

footer p{
    opacity: .7;
}

footer .three-columns article{
    width:33%;
    float:left;
    padding: 30px 0;
}

footer i{
    color:var(--orange);
}

footer hr{
    background: var(--white);
    width: 50%;
    height: 1px;
    margin: 30px auto 50px auto; 
    border: none;
}

.copy{
    font-size: .8rem;
}


/***************************************               RESPONSIVE
***************************************/

@media(max-width:768px){
    
    header{
        padding: 100px 20px;;
    }
    
    .one article,
    .three article,
    footer .three-columns article{
        width: 100%;
    }
    
    .one article:nth-child(1),
    .one article:nth-child(3){
        text-align: center;
    } 
    
    .one article:nth-child(2) {
    padding-top: 30px;
    }
    
    .two,
    .three,
    footer{
        padding: 60px;
    }
    
    .three .wrapper{
        margin: 30px 0;
    }
    
}